# UI
streamlit==1.55.0
pandas>=2.0.0
gdown>=4.7.1
setuptools==69.5.1


# Core ML/Vision (Streamlit runs on CPU, so we use standard PyPI wheels)
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1

# OpenMMLab Core
# Direct link to the exact Linux CPU wheel to completely bypass the -f uv parsing bug
https://download.openmmlab.com/mmcv/dist/cpu/torch1.13.0/mmcv_full-1.7.0-cp310-cp310-manylinux1_x86_64.whl
mmdet==2.26.0
mmpose==0.29.0
mmsegmentation==0.30.0

# Math & Image Processing
numpy<3,>=1.23
scipy==1.10.1
scikit-learn==1.2.2
matplotlib==3.7.1
Pillow>=9.5.0
opencv-python-headless==4.7.0.72

# Legacy/Specific Dependencies
./wheels/chumpy-0.70-py3-none-any.whl
json_tricks==3.16.1
xtcocotools>=1.12
pycocotools==2.0.6
terminaltables==3.1.10
munkres==1.1.4
joblib==1.2.0
six==1.16.0
packaging==23.1
prettytable==3.7.0
